{% extends 'base.html' %}
{% block title %}Prove Base{% endblock %}

                {% block navprimary %}
                <li><a href="{{ url_for('main.index') }}">Home</a></li>  
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                {% endblock %}
                {% block navsecondary %}
                  {% if 'user_id' in session %}
                      {% block navsecondaryUser %}
                      <li><a href="{{ url_for('Taskly.dashboard.index') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('Prove.verify.index')  }}">ProveMode</a></li>
                      <li><a href="{{ url_for('Taskly.auth.logout') }}">Logout</a></li>
                      {% endblock %}
                  {% else %}
                      {% block navsecondaryNoUser %}
                      <li><a href="{{ url_for('Taskly.auth.login') }}">Login</a></li>
                      <li><a href="{{ url_for('Taskly.auth.register') }}">Register</a></li>
                      {% endblock %}
                  {% endif %}
                {% endblock %}
